<header>
  <a href="index.html"><img src="/assets/images/Rapha Logo.png"></a>
  <ul class="nav">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  
</header>
<section class="hero">
  <video src="/assets/images/pexels-rostislav-uzunov-7710243.mp4" autoplay muted loop></video>
  <h1>Crafting Your Brand's <br>Story through Design</h1>
  <p>Creative Advertsing and Design Company</p>
  <a href="mailto:" class="btn">Connect Us</a>
</section>

<section class="box">
  <div class="brief">
    <h1>"At Rapha Design, we believe that creativity is the key to success in advertising.
      That's why we work tirelessly to develop original and innovative ideas that capture
      the attention of our clients' target audience. We combine cutting-edge technology with
      a deep understanding of consumer behavior to create campaigns that are both visually stunning
      and highly effective."</h1>
  </div>

  <div class="services">
    <h1>Our Services</h1>
    <ul>
      <li><a href=""><img src="/assets/images/logo.png">
          <h2>Logo Designing</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/poster.png">
          <h2>Poster Designing</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/broucher.png">
          <h2>Broucher Designing</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/flyers.png">
          <h2>Flyers Designing</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/cards.png">
          <h2>Card Designing</h2>
        </a></li>
    </ul>
  </div>
  <div class="values">
    <h1>What We Value</h1>
    <ul>
      <li><a href=""><img src="/assets/images/design.png">
          <h2>Innovative <br> Designing</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/pixelprecise.png">
          <h2>Pixel Precise</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/association.png">
          <h2>Friendly <br> Association</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/customer.png">
          <h2>24/7<br> Customer Support</h2>
        </a></li>
      <li><a href=""><img src="/assets/images/prcing.png">
          <h2>Transparent <br> Pricing</h2>
        </a></li>
    </ul>
  </div>

  <div class="container">
    <img src="/assets/images/Pointing Left (Blue Shirt).png">
    <div class="contact-form">
      <form action="contact.php" method="post">
        <h1> Contact Us</h1>
        <input type="text" name="username" placeholder="Your Name">
        <input type="email" name="useremail" placeholder="youremail@example.com">
        <input type="text" name="subject" placeholder="state the problem">
        <textarea type="text" name="message" placeholder="type your message here"></textarea>
        <button type="button" class="btn">Submit</button>
      </form>
    </div>
  </div>

</section>

<footer>
  <div class="ft-container">
    <div class="nav-links">
      <ul>
        <li><a href="#">Home </a></li>
        <li><a href="#">Protfolio</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="protfolio">
      <ul>
        <li><a href="#">Logo </a></li>
        <li><a href="#">Poster </a></li>
        <li><a href="#">Broucher </a></li>
        <li><a href="#">Flyers </a></li>
        <li><a href="#">Card</a></li>
      </ul>
    </div>
  
    <div class="socio-links">
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Behance</a></li>
      </ul>
    </div>
  
    <div class="address">
      <img src="/assets/images/Rapha Logo.png">
      <p>New Bus Stand,Iritty<br>
        Kannur, Kerala, 670706</p>
      <div class="contact-links">
        <img src="/assets/images/email.png"> designsrapha@gmail.com<br>
        <img src="/assets/images/whatsapp.png"> +91 8606868080
      </div>
    </div>
  </div>
   <div class="btm">
    <h6> Copyright 2023 <img src="/assets/images/copywrite.png"> Rapha Designs</h6>
    <h6>Designed & Developed by <a href="https://www.instagram.com/thomas_vivek_designs/">VIVEK THOMAS</a></h6>
   </div>
</footer>
